SECRET_KEY=chave-secreta-aqui

DEBUG=1

ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Descomente para usar PostgreSQL (produção / Docker):
# DB_ENGINE=django.db.backends.postgresql
# POSTGRES_DB="lista_compras_db"
# POSTGRES_USER="lista_compras_user"
# POSTGRES_PASSWORD="[PASSWORD]"
# POSTGRES_HOST="psql"
# POSTGRES_PORT=5432